.header_background {
  background-color:#5abcd3;
}

.left_padding {
  padding-left: 50px;
}

.white_color {
  color:#FFFFFF;
}

#username, #password {
  background-color:#BDE5ED;
}

.modal-content {
  width: 350px;
  height:400px;
  margin: auto;
}

#username, #password {
  border-style: none;
  width:270px;
  height:30px;
}
