{% extends "base_generic.html" %}

{% block title %}
<title> You're not authorised </title>
{% endblock %}

{% block content %}
<div class="col-centered">
  <div class="img-responsive book_sprite col-centered"></div>
  <br>
  <h1 class="col-centered error_header">Your change was rejected!</h1>
  <br>
  <p class="col-centered error_content">Maybe you tried to change something you didn't have<br>access to. If you are the application owner, check the<br>logs for more information.</p>
  <br>
</div>
{% endblock %}
