#dialog-overlay {
    background: #000;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.75;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99998;
}

.dialog-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #222222;
    border-radius: 3px 3px 3px 3px;
    font-family: Verdana,Geneva,sans-serif;
    padding: 10px;
    display: none;
    left: 50%;
    position: fixed;
    top: 20%;
    z-index: 99999;
}

.dialog-popup .close-button {
    float: right;
    margin: -26px -26px 0 0;
    border-style: none;
}

.dialog-popup form fieldset {
    border: medium none;
    padding: 0;
}

.dialog-popup form fieldset label {
    display: block;
    font-size: 1.2em;
}

.dialog-popup form fieldset label span,
.dialog-popup form fieldset label input,
.dialog-popup form button,
.dialog-popup form a {
    display: block;
    margin-bottom: 10px;
}

.dialog-popup form fieldset label input {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #FFFFFF #DDDDDD #DDDDDD #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    padding: 6px 6px 4px;
    width: 200px;
}

.dialog-popup form button.submit {
    border-color: #000000;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    cursor: pointer;
    margin-top: 10px;
    padding: 6px 6px 4px;
    width: 200px;
}

.dialog-popup form button.submit:hover {
    background-color: #FFFFFF;
}

#forgot-password-link {
    color: #00AE00;
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.close_sprite {
	background: url('imgs/sprite.png') no-repeat -230px -200px;
  border-style: none;
	width: 32px;
	height: 32px;
}

#text_signIn {
  background-color:#5abcd3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#username, #password {
  background-color:#BDE5ED;
}
