.close_sprite {
	background: url('imgs/sprite.png') no-repeat -230px -200px;
	width: 32px;
	height: 32px;
  float: right;
  margin: -30px -30px 0 0;
}

.signIn_sprite {
	background: url('imgs/sprite.png') no-repeat -277px -211px;
	width: 81px;
	height: 40px;
}

.signUp_sprite {
	background: url('imgs/sprite.png') no-repeat -369px -211px;
	width: 81px;
	height: 40px;
}

.header_background {
  background-color:#5abcd3;
}

.left_padding {
  padding-left: 50px;
}

.white_color {
  color:#FFFFFF;
}

#username, #password {
  background-color:#BDE5ED;
}

.modal-content {
  width: 350px;
  height:400px;
  margin: auto;
}

#username, #password {
  border-style: none;
  width:270px;
  height:30px;
}
