{% extends "base_generic.html" %}

{% block title %}
<title> InBetweener Homepage </title>
{% endblock %}

{% block content %}

<h1><strong>In Betweener Homepage</strong></h1>
<p>Welcome to <em>InBetweener</em>, a book store with huge collection of books in multiple categories.</p>

<h2><strong> Current <em>InBetweener<em> Summary<strong></h2>
<p>The bookstore has the following record counts:</p>

<hr>
  <!-- Create a form to filter category -->
  <form action="" method="post">
        {% csrf_token %}
        <lable for="book_author">Enter author name: </label>
        {{ form }}
        <input type="submit" value="OK">
  </form>
<hr>


<h1>Book List</h1>

{% if book_list %}
<ul>

  {% for book in book_list %}
  <li>
    {% load static %}
    <a href="{% url 'book-detail' book.id %}"><img src="{{ book.image.url }}" alt="No image" class="img-responsive"/></a>
    <a href="{% url 'book-detail' book.id %}">{{ book.title }}</a> ({{book.author}})
  </li>
  {% endfor %}

</ul>
{% else %}
  <p>There are no books in the library.</p>
{% endif %}

{% if book_list.has_other_pages %}
  <ul class="pagination">
    {% if book_list.has_previous %}
      <li><a href="?page={{ book_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in book_list.paginator.page_range %}
      {% if book_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if book_list.has_next %}
      <li><a href="?page={{ book_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
