{% extends "base_generic.html" %}

{% block title %}
<title> InBetweener Homepage </title>
{% endblock %}

{% block content %}

<h1><strong>In Betweener Homepage</strong></h1>
<p>Welcome to <em>InBetweener</em>, a book store with huge collection of books in multiple categories.</p>

<h2><strong> Current <em>InBetweener<em> Summary<strong></h2>
<p>The bookstore has the following record counts:</p>
<ul>
  <li><strong>Books:</strong> {{ num_books }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>

<hr>

<h1>Book List</h1>

{% if Book_list %}
<ul>

  {% for book in Book_list %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
  </li>
  {% endfor %}

</ul>
{% else %}
  <p>There are no books in the library.</p>
{% endif %}

{% endblock %}
