<div class="modal fade" id="PopupOopsModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content-popup">
        <!-- Modal Header-->
        <div class="modal-header popup_header col-centered">
            <a href="#" class="close_sprite" data-dismiss="modal"></a>
            <div href="" class="bookMedium_sprite col-centered"></div>
            <h3 class="modal-title">Oops!</span></h3>
        </div>
        <!-- END Modal Header-->

        <!-- Modal Popup Content-->
        <div class="modal-body col-centered popup_content">
            <p>You already reviewed this book!</p>
            <button href="#" class="back_sprite col-centered" data-dismiss="modal"></button>
        </div>

      </div>

    </div>
  </div>
