<div class="modal fade" id="PopupActivateModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content-popup">
        <!-- Modal Header-->
        <div class="modal-header popup_header col-centered">
            <a href="#" class="close_sprite" data-dismiss="modal"></a>
            <div href="" class="bookMedium_sprite col-centered"></div>
            <h3 class="modal-title">Please activate</span></h3>
        </div>
        <!-- END Modal Header-->

        <!-- Modal Popup Content-->
        <div class="modal-body col-centered popup_content">
            <p> You haven't activated your account<br> yet. Please go to your email to <br>activate. Or continue
                <span class="popup_span_content"><a href="/catalog">shopping</a> </span><br> without logging.</p>
        </div>

      </div>

    </div>
  </div>
  <!-- END SIGN IN Modal -->
